<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/frontend/css/style.css">
    <title>Electricity Bills</title>
    <link rel="icon" type="image/x-icon" href="../static/frontend/images/favicon.ico">
    <style>
        .container {
          margin-top: 50px;
        }
        .card {
          padding: 20px;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          border-radius: 5px;
        }
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .custom-file-label::after {
          content: "Browse";
        }
        .loadAnim {
          padding-top: 2rem;
          width: 5rem;
          margin: auto;
        }    
      </style>    
</head>

<body>
    <div class="maincontent">
        <div class="file-upload-wrapper">
            <div class="file-upload-wrapper-title">
                <h4>Scan Electricity Bills</h4>
                <hr />
                <button id="start" class="file-upload-wrapper-title__btn">
                    Upload & Scan
                </button>
            </div>
            <div class="box-fileupload">
                <input type="file" id="customFile" class="file-upload-input" name="files" accept="image/*" multiple>
                <label for="customFile" class="file-upload-btn"></label>
                <p id="choose-file" class="box-fileupload__lable">Drop files here to upload</p>
            </div>
            <div class="error-wrapper"></div>
            <img id="loadAnim" class="loadAnim" src="../static/frontend/images/Spin-1s-200px.svg" alt="svg" style="display:None">
            <div class="image-previwe"></div>
        </div>
    </div>
  <script
  src="../static/frontend/js/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
 <script src="../static/frontend/js/app.js"></script>   
    <script>
        
        $("html").fileUplodPlugins({
           inputFileUpload: "#customFile",
            ValidType: ['image/jpeg', 'image/png',],
            btnUpload: ".file-upload-wrapper-title__btn",
            deleteImageBtn: ".image-previwe__delete-btn",
            boxFileUploadPreviwe: '.image-previwe',
            boxErrorPreviwe: '.error-wrapper',
        })
    </script>
    <script src="../static/frontend/js/script.js"></script>
</body>

</html>